{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="breadcrumb">
  <p><a href="{% url 'home' %}">Home /</a></p>
  <p><a href="{% url 'select_option' %}">Selection option /</a></p>
  <p><a href="">Toutes les leagues</a></p>
</div>

<div class="container_league">
  {% for item in items %}
  <div class="list_league">
    <a href="{% url 'infoLeague' item.id_league %}"><img src="{{item.logo}}" alt="Image League" width="50"></a>
    <p>{{item.nom_league}}</p>
    <p>Année :{{item.annee}}</p>
  </div>
  {% endfor %}
</div>
<div class="pagination">
  <span class="step-links">
      {% if items.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ items.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current-page">
          Page {{ items.number }} of {{ items.paginator.num_pages }}.
      </span>

      {% if items.has_next %}
          <a href="?page={{ items.next_page_number }}">next</a>
          <a href="?page={{ items.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
  </span>
</div>


{% endblock %}